main.container {
    top: 80px;
    position: relative;
}
.form-group > * {
    margin-bottom: 10px;
}
.panel-heading {
    position: relative;
    margin: 10px 0;
}
.panel-heading * {
    display: inline-block;
}
.panel-heading h4 {
    font-size: 20px;
    vertical-align: middle;
    position: relative;
}
.panel-heading i {
    position: relative;
    font-size: 20px;
    vertical-align: middle;
    color: red;
    float: right;
    cursor: pointer;
}
