<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS Importings -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/css.css" rel="stylesheet">

    <!-- JS Importings -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/js.js"></script>


    <title>SQL Procedures</title>
</head>

<body>

    <head class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">SQL Procedures</a>
        </nav>
    </head>
    <main class="container">
        <div class="row">
            <div class="col">
                <div class="card border-primary mb-3">
                    <div class="card-header">Processor</div>
                    <div class="card-body">
                        <form id="form" name="form">
                            <div class="form-group">
                                <label class="col-form-label" for="table">Table Name</label>
                                <input id="table" name="table" class="form-control" type="text" placeholder="">
                                <label class="col-form-label" for="table">Table Identity</label>
                                <input id="tableId" name="tableId" class="form-control" type="text" placeholder="">
                                <label for="attributes">Table Attributes</label>
                                <textarea id="attributes" name="attributes" class="form-control" rows="3"></textarea>
                                
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <legend>Methods</legend>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="insert" name="insert" checked> INSERT
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="update" name="update" checked> UPDATE
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="delete" name="delete" checked> DELETE
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="select" name="select" checked> SELECT
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" id="list" name="list" checked> LIST
                                                </label>
                                            </div>
                                        </div>
                                        
                                        <div class="col">
                                                <legend>Other</legend>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" id="autoincremental" name="autoincremental" checked> ID Auto Incremental?
                                                    </label>
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" id="alterProcedure" name="alterProcedure"> Alter Procedure
                                                    </label>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                
                                <button class="btn btn-primary" type="submit">Add</button>
                                <button class="btn btn-success" type="button" id="processSQL">Process</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-primary mb-3">
                    <div class="card-header">Data</div>
                    <div class="card-body">
                        <div id="target"></div>
                        <button onclick="reset()" class="btn btn-primary" type="button">Reset</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="card border-primary mb-3">
            <div class="card-header">SQL</div>
            <div class="card-body" id="SQL">

            </div>
        </div>


    </main>

</body>
<script type="text/html" id="template">
    <% _.each(data, (item, index) => { %>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <%= item.name %>
                    </h4>
                    <i onclick="remove(<%= index %>)" class="fas fa-times"></i>
                </div>
            </div>
        </div>
    <% }); %>
</script>

</html>